 <% if @restaurant.errors.any? %>

	<div id="errors">
		<%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:
		<ul>
		<% @restaurant.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>

		</ul>
	</div>
<% end %>

<%= render "form" %>
